<p>Home Page</p>
<p><a href="/new">New Document</a></p>

<ul>
  <% @files.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a> - 
      <a href="/<%= filename %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= filename %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<% if @username %>
  <form method="post" action="/users/signout">
    <p class="user-status">
      Signed in as <%= @username %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status">
    <a href="/users/signin">
      <button>Sign In</button>
    </a>
  </p>
<% end %>